h1 {     
	color: #632258;
	font-family: 'Sigmar One', cursive;
	font-size: 60px;
}
body {
	background-color: #0bf9d1;
}
ul {width:90%;
	list-style-type: none;
	margin-left: 0
    padding-left: 0;
}
li {
	font-family:'Poiret One', bold;
	color:#1d9c46;
	background-color: white;
	margin-left: 0;
    padding-left: 0;
    border-top :3px solid #209999;
    border-bottom: 3px solid white;
}
button {
	float:right;


}

input {width:90%;


}
#box_img{
	background-color: #f36927;
	padding: 5px;
}
#shadow_comments{
	background-color: #209999;
	padding: 20px;
}