h1 {     
	color: #00c6c4;
	font-family: 'Sigmar One', cursive;
	font-size: 75px;
}

body {
	background-color: black;
}
ul {width:90%;
	list-style-type: none;
	margin-left: 0;
    padding-left: 0;
}
li {
	font-family:'Poiret One', cursive;
	color:purple;
	background-color: white;
	margin-left: 0;
    padding-left: 0;
}
input {width:90%;


}
#box_img{
	background-color: #785595;
	padding: 5px;

}
#shadow_comments{
	background-color: #f1c1cf;
	padding: 20px;
}