h1 {     
	color: #ffff01;
	font-family: 'Sigmar One', cursive;
	font-size: 100px;
}
body {
	background-color: #ffe692;
}
ul {width:90%;
	list-style-type: none;
	margin-left: 0
    padding-left: 0;
}
li {
	font-family:'Poiret One', bold;
	color:#1d9c46;
	background-color: white;
	margin-left: 0;
    padding-left: 0;
    border-top :3px solid #ffd246;
    border-bottom: 3px solid white;
}
button {
	float:right;


}

input {width:90%;


}
#box_img{
	background-color: #ffd246;
	padding: 5px;
}
#shadow_comments{
	background-color: #ffd246;
	padding: 20px;
}